#toast {
	display:none;
	width: 400px;
	height: 190px;
	position: fixed;
	top: 43%;
	left: 50%;
	margin-left: -120px;
	bottom: 100px;
	z-index: 9999;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
div.cbtIndex, div.cbtChoice {
	margin: 80px 0;
	top: 8%;
	left: 33%;
	position: fixed;
	width: 800px;
	height: 675px;
	bottom: 80px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(102,186,255,0.4);
	box-shadow: 5px 5px 10px #000;
}

div.cbtReady {	
	left: 33%;
	margin : 50px;	
}
div.cbtIndex #subject {
	padding: 25px 0 0 0;
}
div.cbtIndex #content, div.cbtChoice #content {
	font-weight: bold;
	top: 20%;
	left: 33%;
	padding: 10px;
	margin: 20px;
}
div.cbtIndex #restTime {
	font-weight: bold;
}
div.card-group {
	padding: 25px 0 15px 0;
	margin: 5px;
}
div.card {
	padding: 0 15px 10px 15px;
	vertical-align: middle;
	
}
.card-img-top {
	padding: 0 -5px -5px 0;
}

div#content form {
	padding: 5px 22px;
}
div#content table#chooseTab {
	width:700px;
	text-align: center;
	vertical-align: middle;
}
div#content table#chooseTab th, table#chooseTab td {
	font-size: 15px;
}
div.cbtChoice #comment {
	width: 700px;
	margin-left: 22px;
	
}
div.cbtChoice #comment p {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
div.cbtChoice #submitBtn {
	width: 160px;
	height: 40px;
	font-size: 16px;
}
input[type=radio] {
	 font-size:14px;
	 width:18px;
	 height:18px;
}
div#tabs {
	 width:750px;
	 height: 650px;
	 left: 22%;
	 top: 65%;
	 position: absolute;
}
div.cbtReady ul#subjects {
	height: 59px;
}
div.cbtReady ul#subjects li {
	width: 238px;
	height: 52px;
	margin: -1px 3px 0 3px;
}
div.cbtReady ul#subjects a {
	font-size: 20px;
	width: 30px;
	height: 25px;
	left: 33px;
	top: 1px;
	position: absolute;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
div.cbtReady #tabs-1 {
	padding: 25px 8px;
}
div.cbtReady table#chooseTab {
	width: 700px;
	height: 100px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
div.cbtReady table#chooseTab th{
	font-size: 14px;
}
div.cbtReady #comment1 {
	left: 3%;
	top: 33%;
	position: absolute;
	vertical-align: middle;
	font-size: 20px;
}
div.cbtReady #comment2, #comment3 {
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
	
}
div.cbtReady #readyBtn {
	top: 25px;
	left: 235px;
	width: 220px;
	height: 65px;
	font-size: 22px;
}
div.cbtReady #cbtReadyModal {
	left: 4%;
	position: fixed;
}

div.cbtViewer #questView table {
	width:550px;
}

div.cbtViewer #putView {
	position: absolute;	
	top: 125px;
	right: 240px;
	padding: 3px 10px;
}

div.cbtViewer #noExp {
	margin : 3px;
	left: 3%;
}

div.cbtViewer #confirm {
	margin : 3px;
	left: 3%;
}

div.cbtProcess #toast {
	display:none;
	width: 400px;
	height: 190px;
	position: fixed;
	top: 40%;
	left: 45%;
	margin-left: -100px;
	bottom: 100px;
	z-index: 9999;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
div.cbtResult #resultView {
	left: 15%;
	top: 60%;
}
div.cbtResult #resultTab{
	width: 900px;
	height: 250px;
	text-align: center;
}
div.cbtResult #resultTab caption {
	margin: 15px;
	font-weight: bold;
	font-size: 35px;
	color: black;
	caption-side: top;
	text-align: center;
	vertical-align: middle;
}
div.cbtResult #resultTab th {
	font-size: 22px;
	vertical-align: middle;
}
div.cbtResult #resultTab .thead-dark {
	height : 100px;
	font-size: 20px;
}
div.cbtResult #grade {
	top: 10px;
	width: 650px;
	height: 55px;
	margin: 10px;
}
div.cbtResult #grade p {
	font-weight: bold;
	font-size: 20px;
	color: black;
}
div.cbtResult #exitBtn {
	left: 6px;
	margin: 30px;
	width: 180px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
}
div.cbtResult #toast {
	display:none;
	width: 400px;
	height: 190px;
	position: fixed;
	top: 50%;
	left: 57%;
	margin-left: -210px;
	bottom: 100px;
	z-index: 9999;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
div.cbtRecord #recordTab {
	margin: 0 0 0 5px;
	width:750px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}