#toast {
	display:none;
	width: 400px;
	height: 180px;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-left: -125px;
	bottom: 100px;
	z-index: 9999;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
div.cbtIndex, div.cbtChoice {
	margin: 80px 0;
	top: 10%;
	left: 33%;
	position: fixed;
	width: 800px;
	height: 600px;
	bottom: 80px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid rgba(102,186,255,0.4);
	box-shadow: 5px 5px 10px #000;
}

div.cbtReady {	
	left: 33%;
	margin : 50px;	
}
div.cbtIndex #subject {
	padding: 25px 0 0 0;
}
div.cbtIndex #content, div.cbtChoice #content {
	top: 20%;
	left: 33%;
	padding: 10px;
	margin: 20px;
}

div.card-group {
	padding: 25px 0 15px 0;
	margin: 5px;
}
div.card {
	padding: 0 15px 10px 15px;
	vertical-align: middle;
	border: 1px solid rgba(102,186,255,0.4);
}
.card-img-top {
	padding: 0 -5px -5px 0;
}

div#content form {
	padding: 5px 22px;
}
div.cbtChoice #comment p {
	margin: 5px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
input[type=radio] {
	 font-size:14px;
	 width:18px;
	 height:18px;
}
