<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CBTDAO">
	<!-- 시험응시여부 판단, 시험기록조회 -->
	<select id="getTestJudg" parameterType = "testsRecord" resultType="testsRecord">
	<![CDATA[
		SELECT m.members_grade , ADD_MONTHS(tr.tests_date,1)-9/24 AS UTCTestsDate, ADD_MONTHS(tr.tests_date,1) AS testsDate
		FROM (SELECT *
		      FROM tests_apply
		      ORDER BY tests_apply_no DESC, tests_date DESC) tr RIGHT OUTER JOIN members m
		ON m.members_no = tr.members_no 
		WHERE m.members_no = #{membersNo} AND rownum <= 1
	]]>		
	</select>
	<!-- 난이도 선택 시, 난이도 별 전체시험 목록조회 -->
	<select id="getTestList" resultType="tests" parameterType="tests">
	<![CDATA[
		SELECT * FROM TESTS
	]]>
		<where>
			<if test="testsLevel != null and testsLevel != ''">
	<![CDATA[	
			testsLevel = #{testsLevel}
	]]>
			</if>
		</where>
	</select>
</mapper>