<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CBTDAO">
	<!-- 시험응시여부 판단, 시험기록조회 -->
	<select id="getTestJudg" resultType="testsRecord" parameterType = "testsRecord">
	<![CDATA[
		SELECT m.members_grade , ADD_MONTHS(tr.tests_date,1)-9/24 AS UTCTestsDate, ADD_MONTHS(tr.tests_date,1) AS testsDate
		FROM (SELECT *
		      FROM tests_apply
		      ORDER BY tests_apply_no DESC, tests_date DESC) tr RIGHT OUTER JOIN members m
		ON m.members_no = tr.members_no 
		WHERE m.members_no = #{membersNo} AND rownum <= 1
	]]>		
	</select>
	<!-- 난이도 선택 시, 난이도 별 전체시험 목록조회 -->
	<select id="getTestList" resultType="tests" parameterType="tests">
	<![CDATA[
		SELECT * FROM TESTS
	]]>
		<where>
			<if test="testsNo != null and testsNo != ''">
	<![CDATA[	
			tests_no = #{testsNo}
	]]>
			</if>
		</where>
	</select>
	<!-- 시험 시작 후, 응시기록 추가 -->
	<insert id="cbtInsert" statementType="CALLABLE" parameterType="testsRecord">
		call CBT_PROCESS_PKG.CBT_START(#{membersNo},
					  				   #{testsNo})
	</insert>
	<!-- 시험 자료 조회 -->
	<select id="getQuestList" resultType="testsQ" parameterType="testsQ">
	<![CDATA[
		SELECT *
		FROM (SELECT  ROW_NUMBER() OVER(PARTITION BY tests_q_unit ORDER BY tests_q_unit,DBMS_RANDOM.RANDOM) AS UNITNUM,
		              tests_q_unit, tests_q_no, tests_no, tests_q_contents, tests_q_ex1, tests_q_ex2, tests_q_ex3, tests_q_ex4,
		              tests_q_answer
		      FROM tests_q
		      WHERE tests_no = #{testsNo}) 
		WHERE UNITNUM <= #{allocate}
	]]>
	<!-- DBMS_RANDOM.RANDOM : 해당 컬럼을 기준으로 문제 랜덤배열 and SORTING -->
	<!-- (tests_q_unit IN('프로그래밍','데이터베이스','운영체제') AND UNITNUM <= 3) 
   	  OR (tests_q_unit IN('전자계산기','데이터통신') AND UNITNUM <= 10);
   	  과목 별, 문제배분을 분할하는 Query
	 -->
	</select>
	
	<!-- 시험 정답 조회 -->
	<select id="getAnswerList" resultType="list" parameterType="list">
		SELECT tests_q_no, tests_q_answer
		FROM tests_q
		WHERE tests_q_no IN
		 <foreach item="item" index="index" collection="list"
     		 open="(" separator="," close=")">
        	#{item}
  		</foreach>
		ORDER BY tests_q_no
	</select>
	
	<!--  회원의 응시기록 조회 -->
	<select id="getRecordList" resultType="map" parameterType="testsRecord"> 
	<![CDATA[
		SELECT t.tests_title, t.tests_contents, TO_CHAR(ta.tests_date,'YYYY/MM/DD') AS "TESTS_DATE", ta.tests_score, ta.tests_results, ta.tests_time
		FROM tests t JOIN tests_apply ta
		ON t.tests_no = ta.tests_no
		WHERE ta.members_no = #{membersNo}
		ORDER BY ta.tests_apply_no
	]]>
	</select>
</mapper>