<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FilesDAO">
	
	<!-- 전체조회 -->
	<select id="getfilesList" resultType="files">
		select  files_no,
				files_title,
				files_comment,
				members_no,
				files_group_no,
				files_upload_date,
				files_Size
		from files 
		order by files_no
	</select>
</mapper>