<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MembersDAO">
 
	
<insert id="insertMembers" parameterType="members">
		insert into members(members_no, members_id, members_pw, members_name 
		, members_type, members_mail , members_tel,members_addr
		<if test="membersImage != null and membersImage != '' ">
		 ,members_image
		 </if>
		)
		values ((select max(members_no)+1 from members), #{membersId}, #{membersPw},
		 #{membersName} , #{membersType} , #{membersMail}, #{membersTel},#{membersAddr}
		 <if test="membersImage != null and membersImage != '' ">
		,#{membersImage}
		 </if>
		 )
	</insert>
	
	
	<select id="loginCheck" resultType="String">
		<![CDATA[
			SELECT count(*) FROM members
			WHERE members_id = #{membersId} AND members_pw = #{membersPw}
		]]>
	</select>
	
	<select id="getMembers" parameterType="members" resultType="members">
	select * 
	from members 
	where members_id =  #{membersId}
	</select>
</mapper>