<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalendarDAO">

	<insert id="insertProjCalendar">
		insert into PROJ_CALENDAR
		values(	(select NVL(max(task_no),0)+1 from PROJ_CALENDAR),
            	#{taskTitle},
           		#{projNo},
            	#{startDate},
            	#{endDate},
            	(select members_no from members where members_id=#{developerId}),
            	#{taskComplete} )
	</insert>
	
	
	
	<select id="getProjCalendarData" resultType="projCalendar" parameterType="projCalendar">
		select task_title "title", 
          to_char(start_date,'yyyy-mm-dd') "start", 
          to_char(end_date,'yyyy-mm-dd') "end", 
          developer_no, 
          task_complete 
		from PROJ_CALENDAR
		where proj_no=#{projNo}
	</select>
	
</mapper>