<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectsDAO">
	
	<!-- 전체조회 -->
	<select id="getProjectsList" resultType="projects">
		select 	proj_no, 
		
				members_no, 
				proj_title, 
				proj_reg_date, 
				proj_due_date
		from projects 
		order by proj_no
	</select>
	
	<!-- 상세조회 -->
	<select id="getProjects" resultType="projects">
		select 	proj_no,
				members_no,
				proj_title,
				proj_contents,
				proj_reg_date,
				proj_due_date,
				proj_tags
		from projects 
		where proj_no = #{projNo}
	</select>
</mapper>