<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalendarDAO">

	<insert id="insertProjCalendar">
		insert into PROJ_CALENDAR
		values(	(select NVL(max(task_no),0)+1 from PROJ_CALENDAR),
            	#{taskTitle},
           		#{projNo},
            	#{startDate},
            	#{endDate},
            	(select members_no from members where members_id=#{developerId}),
            	#{taskComplete} )
	</insert>
	
	
	
	<select id="getProjCalendarData" resultType="projCalendar" parameterType="projCalendar">
		select task_title "title", 
          to_char(start_date,'yyyy-mm-dd') "start", 
          to_char(end_date,'yyyy-mm-dd') "end", 
          developer_no, 
          task_complete 
		from PROJ_CALENDAR
		where proj_no=#{projNo}
	</select>
	
	<select id="getToDoList" resultType="projCalendar" parameterType="projCalendar">
		select	task_title "title",
				task_complete,
				developer_no,
				task_no,
				proj_no
		from proj_calendar 
		where proj_no = #{projNo} 
		and to_date(#{date},'yyyy-mm-dd') 
		between start_date and end_date	
	</select>
	
	<update id="updateToDoList" parameterType="projCalendar">
		update PROJ_CALENDAR
		set TASK_COMPLETE = #{taskComplete}
		where TASK_NO = #{taskNo}
	</update>
	
</mapper>