<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnaDAO">
 
	<select id="qnaList" parameterType="question" resultType="question">
	select b.* from(select rownum no, a.* from(
	    select 	q.q_no 				,
	 			q.members_no 		,
	 			q.q_title 			,
	 			q.q_contents 		,
	 			q.q_code 			,  
	 			q.q_date 			,
	 			q.q_views		    ,
	 			q.q_tags			,
	 			m.members_id
	      		
	 			from members m join question q
	 			on q.members_no = m.members_no
	 	<where>
			<if test="searchVal != null and searchVal != '' "> 
					and q_title LIKE '%' || #{searchVal} || '%'
					or q_contents LIKE '%' || #{searchVal} || '%'
			</if>
		</where>	
		<choose>	
			<when test="orderby != null and orderby != '' ">	<!--  '' 체크해줘야됨 -->
				ORDER BY ${orderby} DESC
			</when>
			<otherwise>
				ORDER BY q_no DESC
			</otherwise>
		</choose>	
	 	 ) a ) b where no between #{first} and #{last}
	 </select>
	
	<insert id="insertQna" parameterType="question">
		insert into question(q_no, q_title, q_contents, members_no) 
		values( (select max(q_no)+1 from question),#{qTitle},#{qContents},#{membersNo})
	</insert>	
	
	
	
	
		<!-- 전체 질문 갯수(페이징)-->
	<select id="getCountQna" parameterType="question" resultType="int">
		select count(*) as "getCountQna"
		from question
		<where>
			<if test="searchVal != null and searchVal != '' "> 
					AND q_title LIKE '%' || #{searchVal} || '%'
					or q_contents LIKE '%' || #{searchVal} || '%'
			</if>
		</where>
	</select>
 
 
 	<!-- 상세조회 -->	
 	<select id="getQna" resultType="question">
		select 	q.q_no 				,
	 			q.members_no 		,
	 			q.q_title 			,
	 			q.q_contents 		,
	 			q.q_code 			,  
	 			q.q_date 			,
	 			q.q_views		    ,
	 			q.q_tags			,
	 			m.members_id
	      		
	 			from members m join question q
	 			on q.members_no = m.members_no
				where q_no = #{qNo}
	</select>
</mapper>