<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnaDAO">
 
	<select id="qnaList" parameterType="question" resultType="question">
	 	select 	a.q_no 				as "qqNo",
	 			a.members_no 		as "membersNo",
	 			a.q_title 			as "qqTitle",
	 			a.q_contents 		as "qqContents",
	 			a.q_code 			as "qqCode",  
	 			a.q_date 			as "qqDate",
	 			a.q_views		    as "qqViews",
	 			a.q_tags			as "qqTags",
	 			m.members_id		as "membersId"
	      		
	 			from members m join question a
	 			on a.members_no = m.members_no
	 	<where>
			<if test="searchVal != null and searchVal != '' "> 
					and q_title LIKE '%' || #{searchVal} || '%'
					or q_contents LIKE '%' || #{searchVal} || '%'
			</if>
		</where>		
	 	
	 </select>
	
	<insert id="insertQna" parameterType="question">
		insert into question(q_no, q_title, q_contents, members_no) 
		values( (select max(q_no)+1 from question),#{qqTitle},#{qqContents},#{membersNo})
	</insert>	
 
</mapper>