<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TagsDAO">
	
	<!-- 태그목록 가져오기 -->
	<select id="tagList" resultType="tags">
		select tags_no as "tagsNo",
		       tags_title as "tagsTitle",
		       tags_contents as "tagsContents",
		       (select count(*) from question where q_tags like '%' || tags.tags_title || '/%') as "qCount",
		       (select count(*) from projects where proj_tags like '%' || tags.tags_title || '/%') as "pCount",
		       (select count(*) from wiki_guide where MANUAL_TAGS like '%' || tags.tags_title || '/%') as "wCount"
		from tags
		order by tags_title 
	</select>
	
	
	
	<!--
		20191118
		태그목록 가져오기 ajax
		곽동우
	-->
	<select id="getTagList" resultType="Map">
		select tags_no as "tagsNo",
		       tags_title as "tagsTitle",
		       tags_contents as "tagsContents",
		       (select count(*) from question where q_tags like '%' || tags.tags_title || '/%') as "qCount",
		       (select count(*) from projects where proj_tags like '%' || tags.tags_title || '/%') as "pCount",
		       (select count(*) from wiki_guide where MANUAL_TAGS like '%' || tags.tags_title || '/%') as "wCount"
		from tags
		order by tags_title 
	</select>
	
	
	
	

</mapper>
	