<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WikiDAO">
	
	<!-- 
		곽동우
		191022
		위키등록	
	 -->
	 <insert id="insertWiki" parameterType="wiki">	<!-- id sql구문 구분용 -->
		<selectKey keyProperty="manualNo" resultType="int" order="BEFORE">  <!-- seq에담는다 타입은 int -->
			select NVL(max(MANUAL_NO),0)+1 from wiki_guide
		</selectKey>
		insert into wiki_guide(MANUAL_NO, MANUAL_CONTENTS_PATH, MANUAL_ORI_URL, MANUAL_TAGS, MANUAL_TITLE) 
		values( #{manualNo}, #{manualContentsPath} ,#{manualOriUrl} ,#{manualTags} ,#{manualTitle} )
		<!-- values( #{manualNo}, #{manualContentsPath} ,#{manualOriUrl} ,#{manualTags} ,#{manualTitle} ) -->
	</insert>
	
	<!-- 	
	<insert id="insertBoardProc" statementType="CALLABLE" parameterType="board">
		{call board_ins_proc( #{title},
							  #{writer},
							  #{content},
							  #{seq, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Integer},
							  #{msg, mode=OUT, jdbcType=VARCHAR, javaType=string}  )  }	call 프로시저명(?,?,?) ???순서대로 | 프로시저명 대소문자구분 x
		
	</insert>
	 -->
	
	
	<!-- 단건조회 -->
	<select id="getWiki" parameterType = "wiki" resultType="wiki">
		select * from wiki_guide where manual_no = #{manualNo}
	</select>
	
	
	<!-- 20191021 곽동우 -->
	<!-- 위키조회맵 -->
	<select id="getWikiMap" parameterType="wiki" resultType="Map">
		SELECT b.* FROM ( SELECT rownum no, a.* FROM (
				SELECT 	MANUAL_NO				as		"manualNo",
						MANUAL_CONTENTS_PATH	as		"manualContentsPath",
						MANUAL_ORI_URL			as		"manualOriUrl",
						MANUAL_TAGS				as		"manualTags",
						MANUAL_TITLE			as 		"manualTitle"
						
				FROM wiki_guide
				<!-- 
				<![CDATA[ 
				WHERE 	1=1 		
				]]>
				 -->
				<where>
						<!-- <if test="manualTitle != null and manualTitle != '' ">
							AND MANUAL_TITLE LIKE '%' || #{manualTitle} || '%'
						</if>
				
				
						<if test="manualTags != null and manualTags != '' ">
							AND MANUAL_TAGS LIKE '%' || #{manualTags} || '%'
						</if> -->
						
						
						<if test="searchVal != null and searchVal != '' "> 
							<!-- <if test="manualTitle != null and manualTitle != '' ">
								AND MANUAL_TITLE LIKE '%' || #{manualTitle} || '%'
							</if> -->
							<if test="select == 'title'">
								AND MANUAL_TITLE LIKE '%' || #{searchVal} || '%'
							</if>
							<if test="select == 'tags'">
								AND MANUAL_TAGS LIKE '%' || #{searchVal} || '%'
							</if>
						</if>
				</where>
				
				<choose>	
					<when test="orderby != null and orderby != '' ">	<!--  '' 체크해줘야됨 -->
						ORDER BY ${orderby} DESC
					</when>
					<otherwise>
						ORDER BY MANUAL_NO DESC
					</otherwise>
				</choose>
		) a ) b WHERE no BETWEEN #{first} AND #{last}
	</select>
	
	
	<!-- 
		곽동우
		위키수정
		20191024
	 -->
	 <update id="updateWiki" parameterType="wiki">
		update wiki_guide set
					MANUAL_TITLE = #{manualTitle},
					MANUAL_ORI_URL = #{manualOriUrl},
					MANUAL_TAGS	= #{manualTags},
					MANUAL_CONTENTS_PATH = #{manualContentsPath}
		where manual_no = #{manualNo}
	 </update>
	 
	 
	 
	 <!-- 
	 	파일위치조회
	 	곽동우
	 	191024 
	 -->
	<select id="getWikiContentsPath" parameterType = "wiki" resultType="wiki">
		select MANUAL_CONTENTS_PATH as "manualContentsPath" from wiki_guide where manual_no = #{manualNo}
	</select>
	
	<!-- 
		위키 전체수 가져오기(페이징)
	 -->
	 <select id="getCountWiki" parameterType="wiki" resultType="int">
		select count(*)  as  "getCountWiki" 
		from wiki_guide
		<where>
			<if test="searchVal != null and searchVal != '' "> 
				<!-- <if test="manualTitle != null and manualTitle != '' ">
					AND MANUAL_TITLE LIKE '%' || #{manualTitle} || '%'
				</if> -->
				<if test="select == 'title'">
					AND MANUAL_TITLE LIKE '%' || #{searchVal} || '%'
				</if>
				<if test="select == 'tags'">
					AND MANUAL_TAGS LIKE '%' || #{searchVal} || '%'
				</if>
			</if>
		</where>
	 </select>
	 
	 <!-- 
	 	위키삭제
	  -->
	  <delete id="deleteWiki" parameterType="wiki">
	  	delete WIKI_GUIDE
	  	where MANUAL_NO = ${manualNo}
	  </delete>
	  
	  
	  
	  
	  <!-- 
		곽동우
		191031
		위키번역 등록	
	 -->
	 <insert id="insertWikiTrans" parameterType="wikiTrans">
		<selectKey keyProperty="transNo" resultType="int" order="BEFORE">  <!-- seq에담는다 타입은 int -->
			select NVL(max(TRANS_NO),0)+1 from WIKI_GUIDE_TRANS
		</selectKey>
		insert into WIKI_GUIDE_TRANS (TRANS_NO, MANUAL_LINE, MANUAL_BEFORE, MANUAL_AFTER, TRANS_DATE, MANUAL_NO, MEMBERS_NO)
								VALUES (#{transNo}, #{manualLine}, #{manualBefore}, #{manualAfter}, SYSDATE, #{manualNo}, #{membersNo})
		<!-- values( #{manualNo}, #{manualContentsPath} ,#{manualOriUrl} ,#{manualTags} ,#{manualTitle} ) -->
	</insert>
	 
</mapper>